.cl {
    clear: both;
}

li {
    margin: 0px;
    padding: 0px;
}
.text-uppercase {
    text-transform: uppercase;
}
#fix-menu { display: none}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

img, object, embed, video {
    border: 0 none;
    max-width: 100%;
}

a:focus {
    outline: none !important;
}
/*------------------------------------ Desktop CSS ---------------------------------------------*/
.devmastermenuexpandermain {
    display: none;
    position: relative;
}

.overlapblackbg {
    display: none;
}
.devmastermenu {
    font-family: Helvetica, sans-serif;
    color: #ff0000;
    position: relative;
    font-size: 13px;
    padding: 0px;
    margin: 0px auto;
    width: 100%;
    /*max-width:1200px;*/
    background-color: #333;
}

.devmastermenu-list {
    text-align: left;
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 0px;
}

    .devmastermenu-list > li {
        text-align: center;
        float: right;
        padding-left: 43px;
        list-style: none;
    }

.search-mn {
    right: 0;
    top: 0;
    position: absolute;
    padding: 15px 0;
}

    .search-mn button {
        background: none;
        border: 0;
    }

        .search-mn button i {
            color: #fff;
        }

            .search-mn button i:hover {
                color: #000;
            }

.inp-search {
    padding: 15px 0;
    display: none;
}

    .inp-search i, .sub-search {
        transition: .3s ease;
        color: #fff;
    }

    .inp-search button {
        background: none;
        border: 0;
    }

    .inp-search input {
        background: none;
        border: 0;
        outline: none;
        padding: 0 15px;
        width: calc(100% - 130px);
    }

.sub-search {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 15px
}

    .out-search i:hover, .sub-search:hover {
        color: #000;
    }

.devmastermenu-list li:first-child a {
    /*-webkit-border-radius:4px 0px 0px 0px;
	-moz-border-radius:4px 0px 0px 0px;
	border-radius:4px 0px 0px 0px;*/
}

.devmastermenu-list li:last-child a {
    /*-webkit-border-radius:0px 4px 0px 0px;
	-moz-border-radius:0px 4px 0px 0px;
	border-radius:0px 4px 0px 0px;
	border-right:0px solid;*/
}

.devmastermenu-list > li > a .fa {
    display: inline-block;
    font-size: 22px;
    line-height: 3.8;
    margin-right: 0px;
}

.devmastermenu-list li ul li a .fa.fa-angle-double-right {
    font-size: 12px;
    margin: 0 3px 0 -4px;
}

.devmastermenu-list li a .arrow:after {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #b3b3b3;
    content: "";
    float: right;
    height: 0;
    margin: 0 0 0 9px;
    position: absolute;
    text-align: right;
    top: 22px;
    width: 0;
}

.devmastermenu-list > li > a {
    display: block;
    background-color: #333;
    color: #ffffff;
    padding: 0px;
    text-decoration: none;
    position: relative;
}
.devmastermenu-list > li > a:hover {
    color: red;
    text-decoration: underline;
}
/*.devmastermenu-list li a:hover .arrow:after{ border-top-color:#5e606c}
.devmastermenu-list li a.active .arrow:after{ border-top-color:#5e606c}
.devmastermenu-list li:hover>a .arrow:after{ border-top-color:#5e606c}*/

.megamenu iframe {
    width: 100%;
    margin-top: 10px;
    min-height: 200px;
}

.megamenu video {
    width: 100%;
    margin-top: 10px;
    min-height: 200px;
}

/*For megamenu desktop */
/*.devmastermenu-list li:hover .megamenu{display:block;}*/
.megamenu {
    width: 100%;
    left: 0px;
    position: absolute;
    top: 52px;
    color: #000;
    z-index: 1000;
    margin: 0px;
    text-align: left;
    padding: 14px;
    font-size: 15px;
    border: solid 1px #1e1d24;
    background-color: #1e1d24;
    /*opacity: 0;*/
    display: none;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    -ms-transition: -ms-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
}

    .megamenu .title {
        /*border-bottom:1px solid #CCC;*/
        font-size: 12px;
        padding: 9px 5px 9px 0px;
        font-size: 17px;
        color: #fff;
        margin-bottom: 7px;
        text-align: left;
        min-height: 39px;
    }

.link-list {
    background: #1e1d24;
}

    .link-list > li {
        padding-top: 1.5em;
        padding-left: 2em;
        padding-right: 2em;
        border-right: 1px solid #727480;
        /* min-height: 200px; */
    }

        /*.link-list > li:last-child {
            border-right: 0px;
        }*/

    .link-list li {
        display: block;
        text-align: center;
        text-align: left;
    }

        .link-list li a {
            line-height: 18px;
            border-right: none;
            text-align: left;
            padding: 6px 0px;
            background-image: none !important;
            color: #fff;
            border-right: 0 none !important;
            display: block;
        }

.megamenu .link-list > li > ul > li:hover i {
    margin-left: 0;
    visibility: visible;
    opacity: 1;
}

.link-list .fa {
    font-size: 12px;
}



.devmastermenu-list .ad-style {
    width: 28%;
    float: right;
}

    .devmastermenu-list .ad-style a {
        border: none !important;
        padding: 0px !important;
        margin: 0px !important;
        line-height: normal !important;
        background-image: none !important;
    }

/*.mobile-sub .megamenu .ad-style a:hover{ background-color:transparent !important; }
.devmastermenu-list .megamenu  li:hover>a{background:transparent !important; }
.devmastermenu-list .megamenu  li a:hover{background:transparent !important; color:#F00 !important}*/

.devmastermenu-list .megamenu li .fa {
}

.mrgtop {
    margin-top: 15px;
}

.show-grid div {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #dbdbdb;
    border: 1px solid #e7e7e7;
    color: #6a6a6a;
    margin: 2px 0px;
}

/*For halfmenu */
.halfmenu {
    width: 50%;
    right: auto !important;
    left: auto !important;
}

    .halfmenu .megacollink {
        width: 48%;
        float: left;
        margin: 0% 1%;
    }
/*For halfmenu */


/*Form for desktop */
.halfdiv {
    width: 35%;
    right: 0px !important;
    left: auto;
}

.megamenu .left.carousel-control {
    padding-top: 20%;
}

.megamenu .right.carousel-control {
    padding-top: 20%;
}

.carousel-inner .item img {
    width: 100%;
}

.megamenu .carousel-caption {
    bottom: 0px;
    background-color: rgba(0,0,0,0.7);
    font-size: 13px;
    height: 31px;
    left: 0;
    padding: 7px 0;
    right: 0;
    width: 100%;
}

/*Animation*/
.devmastermenu-list li > .devmastermenu-submenu {
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -webkit-transform: rotateX(-75deg);
    visibility: hidden;
}

.devmastermenu-list li:hover > .devmastermenu-submenu {
    transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
}

.devmastermenu-submenu li > .devmastermenu-submenu-sub {
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -webkit-transform: rotateX(-75deg);
    visibility: hidden;
}

.devmastermenu-submenu li:hover > .devmastermenu-submenu-sub {
    transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
}

.devmastermenu-submenu-sub li > .devmastermenu-submenu-sub-sub {
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -webkit-transform: rotateX(-75deg);
    visibility: hidden;
}

.devmastermenu-submenu-sub li:hover > .devmastermenu-submenu-sub-sub {
    transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
}


.devmastermenu-list li > .megamenu {
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -webkit-transform: rotateX(-75deg);
    visibility: hidden;
}

.devmastermenu-list li:hover > .megamenu {
    transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
}


/* Submenu CSS */
.devmastermenu-submenu {
    position: absolute;
    top: 49px;
    z-index: 1000;
    margin: 0px;
    padding: 2px;
    background-color: #333;
    opacity: 0;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    -ms-transition: -ms-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-box-shadow: 2px 9px 18px -12px rgba(3,3,3,1);
    -moz-box-shadow: 2px 9px 18px -12px rgba(3,3,3,1);
    box-shadow: 2px 9px 18px -12px rgba(3,3,3,1);
    width: 283px;
}

    .devmastermenu-submenu li a {
        
        color: #fff;
        border-right: 0 none !important;
        text-align: left;
        display: block;
        line-height: 18px;
        padding: 6px 5px;
        text-transform: none;
        font-size: 15px;
        letter-spacing: normal;
        border-right: 0px solid;
    }

    .devmastermenu-submenu li {
        position: relative;
        margin: 0px;
        padding: 0px;
        border-top: 1px solid #191818;
    }
    .devmastermenu-submenu li:hover {
        background: #666;
    }
.devmastermenu-list li:hover .devmastermenu-submenu {
    display: block;
}

.devmastermenu-list .devmastermenu-submenu .devmastermenu-submenu-sub {
    min-width: 220px;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: -o-transform 0.4s, opacity 0.4s;
    -ms-transition: -ms-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}

.devmastermenu-list .devmastermenu-submenu li:hover .devmastermenu-submenu-sub {
    opacity: 1;
    list-style: none;
    padding: 2px;
    border: solid 1px #eeeeee;
    background-color: #1e1d24 !important;
}

.devmastermenu-list .devmastermenu-submenu li:hover .devmastermenu-submenu-sub {
    display: block;
}

.devmastermenu-list .devmastermenu-submenu .devmastermenu-submenu-sub .devmastermenu-submenu-sub-sub {
    min-width: 220px;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -o-transition: -o-transform 0.4s, opacity 0.4s;
    -ms-transition: -ms-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
}

.devmastermenu-list .devmastermenu-submenu .devmastermenu-submenu-sub li:hover .devmastermenu-submenu-sub-sub {
    opacity: 1;
    list-style: none;
    padding: 2px;
    background-color: #fff;
}

.devmastermenu-submenu li {
    position: relative;
    padding: 2px 10px;
    margin: 0px;
    display: block;
    float: left; text-align: left; padding-left: 26px;
}

    .devmastermenu-submenu li:first-child {
        padding-top: 0;
        float: left; text-align: left; padding-left: 26px;
    }

    .devmastermenu-submenu li:last-child {
        padding-bottom: 0;
        float: left; text-align: left; padding-left: 26px;
    }

.devmastermenu-click {
    display: none;
}


/* Default Theme */
/*.devmastermenu-list li:hover>a{text-decoration:none;background-color: rgba(0, 0, 0, .19) !important;}*/
.devmastermenu-list > li > a:hover {
    text-decoration: none;
}
/*.devmastermenu-list > li > a.active{background-color:rgba(0, 0, 0, .19) !important; text-decoration:none; }*/
.devmastermenu-submenu > li > a:hover {
    text-decoration: none;
}

.typography-text {
    padding: 0px 0px;
    font-size: 15px;
}

    .typography-text p {
        text-align: justify;
        line-height: 24px;
        color: #656565;
    }

    .typography-text ul li {
        display: block;
        padding: 2px 0px;
        line-height: 22px;
    }

        .typography-text ul li a {
            color: #656565;
        }

.hometext {
    display: none;
}

.devmastermenu-submenu .fa {
    margin-right: 7px;
}



.devmastermobile {
    margin-top: 0px;
}




/*Ð?nh d?ng l?i cho font awesome*/
.devmastermenu-list .megamenu li .fa {
    font-size: 14px;
    margin-top: 10px;
    color: #3ca538;
    padding: 0 10px;
    margin-left: -30px;
    float: left;
    transition: .3s ease;
    visibility: hidden;
    opacity: 0;
}

.purechat-collapsed-image {
    cursor: pointer !important;
}


a.flex {
    display: flex !important;
    margin-left: 2px;
    white-space: normal;
    margin-top: 1px;
}

    a.flex span {
        display: flex !important;
        margin-left: -10px;
        white-space: normal;
    }

.logo-title {
    /*display: flex;*/
}

.gtoname {
    margin-top: 25px;
    color: #284181;
    margin-left: 5px;
    font: bold 20px "Times New Roman", Times, serif;
}

.daotao {
    margin-top: 5px;
    color: #FD6504; /*#284181;*/
    font: bold 13px "Tahoma";
    text-transform: uppercase;
}

.hotline {
    font: bold 18px "Times New Roman", Times, serif;
    text-align: center;
    color: #FD6504;
}

.row-border-bottom {
    border-bottom: groove 1px solid;
}

@media screen and (max-width:760px) {
    .khung-to-top {
        background-color: #fff;
        border: 2px solid #e1e1e1;
        border-radius: 3px;
        padding: 5px;
        width: 100%;
    }

    .fix-top {
        position: fixed;
        top: 0;
        z-index: 8888;
        width: 100%;
    }
}

/*----------banner------------*/

@media only screen and (max-width: 1024px) {
    .heesun-logo-xs {
        width: 100%;
        background: #f0f0f0;
        position: relative;
        top: 50px;
        z-index: 100;
        text-align: center;
        color: #86878d;
    }

        .heesun-logo-xs img {
            padding-top: 15px;
            position: relative;
            width: 180px;
            z-index: 100;
        }

        .heesun-logo-xs a {
            color: #86878d;
        }

        .heesun-logo-xs p, .heesun-logo-xs i {
            padding: 5px;
            color: #86878d;
        }

    .fix-top {
        position: fixed;
        top: 0;
        z-index: 8888;
        width: 100%;
    }
}



li.active > a {
    color: red;
}

.link-list li > ul > li:hover>a, .mylist2 li > ul > li:hover>a {
    color: #3ca538 !important;
}
.link-list > li > ul > li > ul > li:hover > a, .mylist2 li > ul> li > ul > li:hover > a {
    color: #3ca538 !important;
}

.mylist2 li .fa {
    font-size: 13px;
    margin-top: 5px;
    color: #3ca538;
    padding: 0 3px 0 10px;
    margin-left: -30px;
    float: left;
    transition: .3s ease;
    visibility: hidden;
    opacity: 0;
}

.mylist2 > li > ul > li:hover>i {
    margin-left: 0;
    visibility: visible;
    opacity: 1;
}
.mylist2 > li >ul>li> ul > li:hover > i {
    margin-left: 0;
    visibility: visible;
    opacity: 1;
}
.devmastermenu-submenu li .fa {
    font-size: 13px;
    margin-top: 5px;
    color: #3ca538;
    padding: 5px 3px 0 10px;
    margin-left: -30px;
    float: left;
    transition: .3s ease;
    visibility: hidden;
    opacity: 0;
}

.megamenu > div > ul > li:hover > i {
    margin-left: 0;
    visibility: visible;
    opacity: 1;
}

.megamenu > div > ul > li:hover > a {
    color: #3ca538 !important;
}
