@model PagedList.IPagedList<onsoft.Models.Library>

@{
    ViewBag.Title = "Quản lý thư viện ảnh";
    Layout = "~/Views/Shared/_LayoutAdmins.cshtml";
}

@section Styles
{
    <!--Sử dụng cho Confirm delete-->
    <link href="~/Content/Styles/jquery-ui.css" rel="stylesheet" />
}

@section Scripts
{
    <!-- Ajax sử dụng cho phân trang  -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <!--Sử dụng cho Confirm delete-->
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.easy-confirm-dialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".deletemultiple").easyconfirm({
                locale: { title: 'Xóa bản ghi', button: ['Hủy', 'Xóa'] }
            });
        })
    </script>

    <!--Ajax tùy biến số bản ghi hiển thị trên trang-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddlLibraryAmount').change(function () {
                var LibraryAmount = $(this).val();
                var sortName = '@ViewBag.CurrentSortName';
                $.post("/Library/LoadLibrariesAmount", { "LibraryAmount": LibraryAmount, "sortName": sortName },
                    function (data) {
                        $("#ajaxLibrary").html(data);
                    });
            });
        });
    </script>



    <!--Ajax sử dụng tìm kiếm bản ghi-->
    <script type="text/javascript">
        $(document).ready(function () {

            //Ajax sử dụng tìm kiếm bản ghi theo tên
            $('#LibraryName').keyup(function () {
                var Libraryname = $(this).val();
                var GroupLibrary = $("GroupLibrary").val();
                $.post("/Library/LibraryIndexot", { "Libraryname": Libraryname, "GroupLibrary": GroupLibrary },
                    function (data) {
                        $("#ajaxLibrary").html(data);
                    });
            });

            //Ajax sử dụng tìm kiếm bản ghi theo nhóm
            $('#GroupLibrary').change(function () {
                var GroupLibrary = $(this).val();
                var Libraryname = $("#LibraryName").val();
                $.post("/Library/LibraryIndexot", { "GroupLibrary": GroupLibrary, "Libraryname": Libraryname },
                    function (data) {
                        $("#ajaxLibrary").html(data);
                    });
            });

        });
    </script>

    <!--Reset ô tìm kiếm-->
    <script type="text/javascript">
        $(function () {
            $('#LibraryCode').focus(function () {
                $(this).val('');
            });
            $('#LbraryName').focus(function () {
                $(this).val('');
            });
        });
    </script>
}

@using (Html.BeginForm("MultiCommand", "Library", FormMethod.Post))
{
    <div class="container-fluid">
        <div style="width: 100%; margin: 0 auto;">
            <div id="Breadcrumb" class="Block Breadcrumb ui-widget-content ui-corner-top ui-corner-bottom">
                <ul>
                    <li class='SecondLast'><a href='#'><i class="icon-home" style="font-size: 14px;"></i>Trang chủ</a></li>
                    <li class='Last'><span>Danh sách thư viện</span></li>
                </ul>
            </div>
            <div style="clear: both;"></div>
            <div id="cph_Main_ContentPane">
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="icon-list-alt"></i>&nbsp;Danh sách thư viện</h4>

                        <!-- begin menu -->
                        <div class="ui-corner-top ui-corner-bottom">
                            <div id="toolbox">

                                <div style="float: right;" class="toolbox-content">
                                    <div id="msg" class="msg">
                                        <div class="alert alert-info" id="update-message">
                                        </div>
                                    </div>
                                    <table class="toolbar">
                                        <tr>

                                            <td align="center">
                                                <a href="../../Library/LibraryCreateot" title="Thêm mới" class="toolbar btn btn-info" href="#"><i class="icon-plus"></i>&nbsp;Thêm mới</a>
                                            </td>
                                            <td align="center">
                                                <button type="submit" title="Bạn chắc chắn muốn xóa những bản ghi này ?" id="btnDelete" name="btnDelete" class="deletemultiple toolbar btn btn-info"><i class="icon-trash"></i>&nbsp;Xóa nhiều</button>
                                            </td>

                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <!-- end menu -->

                        <div id="hiddenToolBarScroll" class="scrollBox hidden">
                            <h4>
                                <i class="icon-list-alt"></i>&nbsp;Danh sách bản ghi
                            </h4>
                            <div class="FloatMenuBar">

                                <!-- begin menu -->
                                <div class="ui-corner-top ui-corner-bottom">
                                    <div id="toolbox">

                                        <div style="float: right;" class="toolbox-content">

                                            <table class="toolbar">
                                                <tr>

                                                    <td align="center">
                                                        <a title="Thêm mới" class="toolbar btn btn-info" href="#"><i class="icon-plus"></i>&nbsp;Thêm mới</a>
                                                    </td>

                                                    <td align="center">
                                                        <a href="../../Library/LibraryAddMultipleot" title="Thêm nhiều" class="toolbar btn btn-info" href="#"><i class="icon-plus"></i>&nbsp;Thêm nhiều</a>
                                                    </td>

                                                    <td align="center">
                                                        <button type="submit" title="Bạn chắc chắn muốn xóa những bản ghi này ?" id="btnDelete" name="btnDelete" class="deletemultiple toolbar btn btn-info"><i class="icon-trash"></i>&nbsp;Xóa nhiều</button>
                                                    </td>

                                                </tr>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <!-- end menu -->

                            </div>
                        </div>
                    </div>
                    <div class="widget-body">

                        <div class="row-fluid">

                            <!--Hiển thị số bản ghi trên trang-->
                            <div class="span3">
                                <div id="sample_1_length" class="dataTables_length">
                                    @Html.DropDownList("ddlLibraryAmount", null, new { style = "width:180px;" })
                                </div>
                            </div>

                            <!--Tìm kiếm bản ghi-->
                            <div class="span9 form-search pull-right text-right">
                                @Html.TextBox("LibraryName", ViewBag.CurrentLibraryNameFilter as string, new { @Value = "Tiêu đề thư viện", @Style = "color:#999999;", @id = "LibraryName" })
                                @Html.DropDownList("GroupLibrary", null, "-- Danh mục nhóm thư viện --", new { @id = "GroupLibrary" })
                            </div>

                        </div>

                        <!--Partial View hiển thị danh sách bản ghi-->
                        @{Html.RenderPartial("_PartialLibraryIndex", Model);}

                    </div>
                </div>
            </div>

        </div>
    </div>
}

